@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color:rgba(255, 255, 255, 0.87);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1.1);
    }
}

#section-presentacion {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-titulo-descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-titulo-descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#container-about{
    border: 1px solid white;
    width: 30%;
}


#container-img-user{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;

}

#container-img-user img{
    width: 100%;
    animation: zoomIn 1s ease-out;
    border-radius: 50%;
}

#container-img-user:hover {
    animation: grow 2s ease-in-out forwards;
}

#h1-aboutme{
    font-size: 40px;
    text-align: center;
}

#p-h1{
    overflow: hidden;
    border: 1px solid red;
    width: 150px;
}

#span-nombre{
    overflow: hidden;
    border-right: .15em solid #007BFF;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
    padding: 0; 
    display: flex;
    width: 30px;
    border: 1px solid white;
}

